<div class="card mb-3 text-center">
  <h2 class="card-header h4">
    Level #<%= level.id %>
  </h2>

  <div class="card-body">
    <%= level.directions %>

    <div class="">
      <%= render "query_form", query: @query, level: @level %>

    </div>

  </div>
</div>
