<div class="movie">
  <h6><%= movie.title %></h6>
  <div>
    <%= movie.year %>
  </div>
  <div>
    <%= movie.duration %> min
  </div>

  <div>
    director_id: <%= movie.director_id %>
  </div>

</div>
