<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @level, partial: "card", as: :level %>
  </div>
  <div class="col-md-4">
    <h5>Models:</h5>
    <hr>
    <div>
      <h6>Movie</h6>
      <hr>
      <p>id: integer</p>
      <p>title: string</p>
      <p>year: integer</p>
      <p>director_id: integer</p>
    </div>
  </div>
</div>
