<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @level, partial: "card", as: :level %>
  </div>
  <div class="col-md-4" style="height:85vh;overflow-y:auto">
    <div>
      <h5>Models:</h5>
      <hr>
      <div>
        <h6>Movie</h6>
        <hr>
        <p>id: integer</p>
        <p>title: string</p>
        <p>year: integer</p>
        <p>director_id: integer</p>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <h6>Director</h6>
        <hr>
        <p>id: integer</p>
        <p>name: string</p>
        <p>dob: date</p>
        <p>bio: text</p>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <h6>Actor</h6>
        <hr>
        <p>id: integer</p>
        <p>name: string</p>
        <p>dob: date</p>
        <p>bio: text</p>
      </div>
    </div>
    <hr>
    <div>
      <div>
        <h6>Role</h6>
        <hr>
        <p>id: integer</p>
        <p>character_name: string</p>
        <p>actor_id: integer</p>
        <p>movie_id: string</p>
      </div>
    </div>
  </div>
</div>
